/* Root styling for the entire page */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Logo styling */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa); /* Blue shadow for default */
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa); /* Green shadow for React logo */
}

/* Logo spinning animation */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Navbar styling */
nav {
  padding: 1.5rem 4rem;
  background-color: #1e40af; /* Dark Blue background */
  display: flex;
  justify-content: center; /* Center the links horizontally */
  align-items: center; /* Center the links vertically */
  gap: 2rem; /* Adjust space between links */
}

nav a {
  font-size: 1.25rem; /* Larger text size */
  font-weight: 600; /* Semi-bold text */
  text-decoration: none; /* Remove underline */
  color: white; /* White text color */
  transition: color 0.3s ease; /* Smooth color transition */
}

nav a:hover {
  color: #ddd; /* Change text color on hover */
}

/* Card Component Styling */
.card {
  padding: 2em;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for links to documentation (if needed) */
.read-the-docs {
  color: #888;
}
